{% extends "base.html.twig" %}

{% block title %}All purchases {% endblock %}

{% block body %}
	<h1>All purchases:</h1>
	<br>
	<div class="purchase">
	{% for purchase in purchases %}
		<div>
			<h2>{{ loop.index}} /  {{purchase.userName}} - {{purchase.serviceName}} - {{purchase.price}}</h2>
				
	
				
		</div>

		{% else %}
		No purchase founded.

	{% endfor %}
    <br>
	<h3>
	<a href="{{path('purchase_new')}}">new purchase</a>
	</h3>
	</div>
{% endblock %}
